DATABASE_URL="xxxxxxxxxxx"
GOOGLE_CLIENT_ID="xxxxxxxxxxx"
GOOGLE_CLIENT_SECRET="xxxxxxxxxxx"
NEXTAUTH_URL="http://localhost:3000"
OPENROUTER_API_KEY="xxxxxxxxxxx"
ELEVENLABS_API_KEY="xxxxxxxxxxx"
NEXTAUTH_SECRET="xxxxxxxxxxx"
